.comment_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.comment_container div img {
  width: 30px;
}

.description_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description_container div p {
  color: gray;
}

.description_container div span {
  color: lightgray;
}
