.modalChat_container {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 2px 10px;
  gap: 10px;
}

.title {
  font-size: 18px;
}

.input_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input_container div img {
  width: 30px;
}

.input {
  width: 90%;
}

.input input {
  width: 100%;
  background-color: lightgray;
  color: white;
  border: 0;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
}

.comments_container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 75px;
}

.comments_container::-webkit-scrollbar {
  width: 3px;
}

.comments_container::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  width: 100px;
  background-color: lightgray;
  color: white;
  height: 25px;
  border: none;
  border-radius: 5px;
}
