.task_input {
  width: 200px;
  border: none;
  border-bottom: 2px solid gray;
  padding: 5px;
}

.task_input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.tasks_container {
  overflow-x: scroll;
  max-height: 190px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks_container::-webkit-scrollbar {
  width: 3px;
}

.tasks_container::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}
